{% extends "/templates/layout.html" %}

{% block content %}
    <div class="content">
        <h1>About Ta' Pinu Restaurant</h1>
        <p>Ta' Pinu Restaurant was founded back in 1996 when Malcolm Agius embarked upon a project of opening our Restaurant. Being family-based, the restaurant aims mainly to serve delicious traditional Maltese plates from the heart.</p>

            
        <h2>Staff:</h2>
    
            <div class = "cards">
                {% for staffMember in staff %}
                    <article class="card">
                        <img src="{{staffMember.image}}" alt="{{staffMember.name}}" style="width:100%">
                        <div class="container">
                            <h4><b>{{staffMember.name}}</b></h4>
                            <p>{{staffMember.bio}}</p>
                        </div>
                    </article>
                    <br/>
                {% endfor %}
            </div>
            
        </div>
{% endblock %}


    
    