{% extends "/templates/layout.html" %}

{% block content %}

    <div class="content">

        <h1>Items in favorites</h1>

        <form method="POST" action="send-favorites-action.php">
            <br><br>
            <label for = "email">Email Address:</label>
            <input type = "email" id = "email" size="30" name = "email" placeholder="Enter your email address" required>
            <br><br>
            <button type="submit">Send Favorites</button>
            <br><br>
        </form>


        <div class="card_Container">
        
            <div class="cards">
                {% for favItem in menuItem %}
                    <div class="card">
                        <img src="{{favItem.image}}" alt="{{favItem.name}}" style="width:100%">
                        <div class="container">
                            <h4><b>{{favItem.name}} </b></h4>
                            <p>{{favItem.price}} </p>
                            <ul >
                                <li>Calories: {{favItem.calories}} </li>
                                <li>Allergies: {{favItem.allergies}} </li>
                                <li>Diet: {{favItem.diet}} </li>
                            </ul>
                            <br/>
                            <form id="remove=from-fav" action= "favorites-remove-action.php"  method="POST">
                                <input type = "submit" value="Remove from Favorites">
                                <input type = "hidden" name="a" value="{{favItem.id}}">
                            </form>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}