{% extends "/templates/layout.html" %}

{% block content %}

        <div class="content">

                <div class="home-container">

                        <div class="row">
                                <img class="row-a" src="assets/images/pastizzi.jpg">
                                <img class="row-b" src="assets/images/halfchicken.jpg">
                                <img class="row-b" src="assets/images/rabbit.jpg">
                                <img class="row-a" src="assets/images/kinnie.jpg">
                              </div>
                </div>
        </div>

{% endblock %}