{% extends "/templates/layout.html" %}

{% block content %}

        <div class="content">

                <div class="home-container">

                        <div class="row" >
                                <img class="img row-a" src="assets/images/halfchicken.jpg">
                                <div class="home-text">This is sample text</div>
                                <img class="img row-b" src="assets/images/panorama.jpg">
                                <div class="home-text ">This is sample text</div>
                                <img class="img row-b" src="assets/images/panorama2.jpg">
                                <div class="home-text">This is sample text</div>
                                <img class="img row-a" src="assets/images/rabbit.jpg">
                                <div class="home-text ">This is sample text</div>
                                <img class="img row-a" src="assets/images/haruf.jpg">
                                <div class="home-text ">This is sample text</div>
                                <img class="img row-b" src="assets/images/panorama3.jpg">
                                <div class="home-text ">This is sample text</div>
                        </div>
                        </div>
                </div>
        </div>

{% endblock %}