{% extends "/templates/layout.html" %}

{% block content %}

        <div class="content">

                <div class="home-container">

                        <div class="row">
                                <div class="row-a"><img src="assets/images/pastizzi.jpg"></div>
                                <div class="row-b"><img src="assets/images/halfchicken.jpg"></div>
                                <div class="row-a"><img src="assets/images/rabbit.jpg"></div>
                                <div class="row-b"><img src="assets/images/kinnie.jpg"></div>
                              </div>
                </div>
        </div>

{% endblock %}