<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="style-sheet.css">
    <link rel="shortcut icon" type="image/png" href="https://www.shareicon.net/data/512x512/2016/05/25/770336_fork_512x512.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ta' Pinu Restuarant - Menu</title>
</head>
    
<body>
    
    <div class="hero-image">
        <h1 class="hero-title">Ta' Pinu Restuarant</h1>
        <h2 class="hero-text">Traditional Maltese Restaurant</h2>
        <ul class="navigation">
            <li><a href="home.php">Home</a></li>
            <li><a href="menu.php">Menu</a></li>
            <li><a href="about-us.php">About Us</a></li>
            <li><a href="contact-us.php">Contact Us</a></li>
            <a class="navigation" href="favorites.php">
                <img src="https://www.vippng.com/png/full/102-1027843_one-heart-png-transparent-png-download-white-heart.png">
            </a>
        </ul>
        
    </div>

    <div class="content">

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>

