<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="style-sheet.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ta' Pinu Restuarant - Menu</title>
</head>
    
<body>
    
    <header>
      <section class="hd-main">
        <div class="hero-image">
            <h1 class="hero-title">Ta' Pinu Restuarant</h1>
            <h2 class="hero-text">Traditional Maltese Restaurant</h2>
            <ul class="navigation">
                <li><a href="home.php">Home</a></li>
                <li><a href="menu.php">Menu</a></li>
                <li><a href="about-us.php">About Us</a></li>
                <li><a href="contact-us.php">Contact Us</a></li>
                <a class="navigation" href="favorites.php">
                    <img src="assets/images/favorites_icon.png" alt="favorites icon">
                </a>
            </ul>
        </div>
      </section>
    </header>

    <main>
        <div class="content">

            {% block content %}
            {% endblock %}

        </div>
    </main> 

    <footer>
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">About</h2>
            <ul>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>

            <div class="ft-main-item">
              <h2 class="ft-title">Opening Hours</h2>
              <table>
                <tr><th>Sunday</th><td>Closed</td></tr>
                <tr><th>Monday</th><td>9am - 5pm</td></tr>
                <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
                <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
                <tr><th>Thursday</th><td>9am - 5pm</td></tr>
                </table>
            </div>

            <div class="ft-main-item">
              <h2 class="ft-title">Contact</h2>
              <ul>
                <li><a href="tel:21896156">21896156</a></li>
                <li><a href="tel:78949691">78949691</a></li>
                <li><a href="https://goo.gl/maps/BTfgj3swCWHT6TVu9" target="_blank">11, Triq Marsaxlokk, ZeJtun</a></li>
              </ul>
            </div>

            <div class="ft-main-item">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1616.931158062687!2d14.530906358134!3d35.852379495038704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e5b086747f461%3A0xb37d162c5d7afced!2s11%20Triq%20Marsaxlokk%2C%20I%C5%BC-%C5%BBejtun!5e0!3m2!1sen!2smt!4v1588246453560!5m2!1sen!2smt" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div class="ft-main-item">
              <h2 class="ft-title">Stay Updated</h2>
              <p>Subscribe to our mailing list for updates on menu and special offers</p>
              <form>
                <input type="email" name="email" placeholder="Enter email address">
                <input type="submit" value="Subscribe">
              </form>
            </div>
          </section>

          <section class="ft-legal">
            <ul class="ft-legal-list">
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li> &copy; 2020 Copyright</li>
            </ul>
          </section>
    </footer>
    
</body>
</html>

<!--
    google maps integration
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.4613527160825!2d14.531539829243366!3d35.85279398575795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e5b08f545da4d%3A0xcfaf04b3cec38614!2s11%20Triq%20Marsaxlokk%2C%20I%C5%BC-%C5%BBejtun!5e0!3m2!1sen!2smt!4v1588169680805!5m2!1sen!2smt" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
-->
