{% extends "/templates/layout.html" %}

{% block content %}
    <div class="content">
        <h1>Explore Our Menu</h1>
            
        <h2>Antipasti</h2>
    
        <div class="content_Items">
            {% for menuItem in food %}
                <div class="card">
                    <img src="{{menuItem.image}}" alt="{{menuItem.name}}" style="width:100%">
                    <div class="container">
                        <h4><b>{{menuItem.name}} </b></h4>
                        <p>{{menuItem.price}} </p>
                        <br/>
                        <p><a href="details.php?a={{menuItem.id}}">Find out more about {{menuItem.name}} </a></p>
                    </div>
                </div>
                <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}